<header>
    <div class="header_container">
        <div class="hamburger_container">
            <span class="fa fa-bars" aria-hidden="true"></span>
        </div>

        <div class=header_names>
            <h1 class=name><a href="/">{{ site.title }}</a></h1>
            <h2 class=name_title>{{ site.blurb }}</h2>
        </div>

        <div class="icons_container">
            <a href="https://twitter.com/leannarmcdonald">
                <div class="icon_container_twitter">
                    <span class="fa fa-twitter"></span>
                </div>
            </a>
            <a href="https://github.com/LeannaRM">
                <div class="icon_container_git">
                    <span class="fa fa-github"></span>
                </div>
            </a>
            <a href="#">
                <div class="icon_container_rss">
                    <span class="fa fa-rss"></span>
                </div>
            </a>
        </div>

        <div class="links_container">
            {% for the_page in site.pages %}
                {% if the_page.title %}
                    <a href="{{ the_page.url }}" class="links">{{ the_page.title }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</header>