body {
font-family: Raleway,Open Sans,Helvetica Neue,sans-serif;
margin: 0;
padding: 0;
color: rgb(100,100,100);	
}
.name, .links, .pagelabel {
	text-transform: uppercase;
}

header {
	background-color: rgb(64, 64, 64);
	padding: 25px 0;
	margin:0;
	width:100%;
}
.header_container {
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.fa-bars {
	font-size: 20px !important;
}
.hamburger_container {
	border: 2px solid rgb(230,230,230);;
	border-radius: 5px;
	padding:5px;
	margin: 2px 45px;
}

.navbar {
	background-color:rgb(230,230,230);
	height: 50px;
	position:absolute;
	top: 35px;
	transition: top 1s;
	width: 100%;
	z-index: 1;
	display:flex;
	align-items: center;
}
.showlinks {
	top: 87px;
}

.fa {
	color:rgb(230,230,230);
	font-size: 16px !important;
}
.icon_container_twitter, .icon_container_rss, .icon_container_git{
    border-radius: 50%;
    margin: 5px;
    height:20px;
    width:20px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.fa-github {
	font-size: 23px !important;
	color:#3ea2b9;
}
.icon_container_git {
	background-color: rgb(230,230,230);
}
.icon_container_twitter, .icon_container_rss {
	background-color: #3ea2b9;
}
.icons_container, .links_container{
	display:flex;
	align-items: center;
	justify-content: space-between;
}


.name {
    font-size: 13pt;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
}

.name_title {
    font-weight: 300;
    font-size: 9pt;
    letter-spacing: 2px;
    color: rgb(170, 170, 170);
    margin: 0;
}

.links_container a, .name a, .icons_container a {
	text-decoration: none;
}

.links {
	color: #1f91aa;
	font-size: 9pt;
	margin: 10px 15px 10px 0;
}


.hamburger_container:hover {
	border-color: #ff0064;
	cursor:pointer;
}
.icon_container_twitter:hover {
	background-color: #1da1f2;
}
.fa-github:hover {
	color: black;
}
.icon_container_rss:hover {
	background-color: orange;
}
.links:hover, .title_articlelist:hover, .name:hover{
	color: #ff0064;
}

.footer {
	background-color: rgb(64, 64, 64);
	color: rgb(230,230,230);
	padding: 3px;
	margin:20px 0 0 0 ;
	width:100%;
	display:flex;
	justify-content: flex-end;
}
.footer p {
	font-size: 9px;
	margin-right: 20px;
}

.maincontent_container {
	margin: 15px;
}

hr {
	background-color: #ffec32;
	height:1px;
	border-style: none;
}

a {
	color: inherit;
	cursor:pointer;
}

ul {
	list-style-type: square;
}

li p {
	margin:0;
}

.pagelabel {
    font-size: 9pt;
    letter-spacing: 3px;
    margin: 35px 0 20px 0;
    font-weight: 400;
    color: #1f91aa;
}

.date {
    font-size: 9.5pt;
    font-weight: 300;
    margin: 0 0 25px 0;
    letter-spacing: 1px;
    color: #3ea2b9;
}
.date_list {
	font-size: 8.5pt;
	margin: 25px 0;
}

.title {
	color: #1f91aa;
    font-weight: 400;
    font-size: 20pt;
    margin: 25px 0 15px 0;
}
.subtitle {
	font-size: 18pt;
	margin: 25px 0;
}
.title_articlelist {
	margin: 0;
}
.title_link {
	text-decoration: none;	
}
.title_index {
	font-size:14.5pt;
}
.title_footnote {
	font-size: 13pt;
}

.maincontent, .postcontent_container {
    font-size: 11.5pt;
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.5px;
    line-height: 150%;
    padding: 10px 0 10px 0;
}

.postcontent_container h3 {
	color: rgb(70,70,70);
}
.postcontent_container div {
	line-height: 100%;
}
.postcontent_container p:last-of-type {
	margin: 1em 0 2em 0;
}
.maincontent_aboutlinks {
	padding: 0;
}
.maincontent_articlelinks {
	padding: 2px 0;
}
.aboutlink, .articlelink {
	color: rgb(110,110,110);
}
.maincontent_articlelinks span {
	font-style: italic;
}
.maincontent_intro {
	margin: 5px 0 25px 0;
    font-size: 10pt;
}
.maincontent_footnote {
	font-size: 9pt;
	margin: 5px 0;
}

.twittershare_container {
	padding:20px;
	background-color: rgb(230, 230, 230);
	margin-bottom: 15px;
}
.twittershare_bird {
	color: #1da1f2;
	font-size: 20pt !important;
	float:left;
	margin: 10px 10px 5px 0;
}
.twittershare_note {
	letter-spacing: 0;
    margin: 0;
	color: rgb(120,120,120);
}

.note {
	background-color: rgb(230, 230, 230);
	position:relative;
    left: -15px;
    padding: 10px 15px 10px 15px;
    width: 100%;
}
.note span {
	font-weight: 400;
}
.about_image {
	background-image: url("./notre-dame.jpg");
	padding-top: 62.86%;
}
.hero_image {
	background-image: url("./omaha-street.jpg");
    padding-top: 66.654%;
}
.hero_image, .about_image{
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position: relative;
}

.index_image_container {
	display:none;
	width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
    border: 1px solid #ffec32;
}
.index_image {
	width: 180px;
    height: 180px;
    margin: 10px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.post_container {
	display:flex;
	align-items: center;
}

figure img, figcaption {
    display: block;
    width: 60%;
    margin:auto;
}

.screen {
	width: 80%;
	height: 200px;
	background-color: lightgrey;
	border: 1px solid black;
	padding:5px;
	margin:auto;
}
.orange {
	height: 25px;
	width: 80%;
	background-color: rgb(255, 120, 0);
	border: 1px solid black;
	margin: 1px;
}
.blue {
	background-color: #1f91aa;
	height: 40px;
	width: 20%;
	border: 1px solid black;
	margin: 1px;
}
.magenta {
	background-color: #ff0064;
	height: 30px;
	width:80%;
	border: 1px solid black;
	margin: 1px;
}
.yellow {
	background-color: #ffec32;
	height:80px;
	width:90%;
	border: 1px solid black;
	margin: 1px;
	color: black;
	font-size: 0.55em;
	padding: 5px;
}
.relative .blue {
	position: relative;
	top: 10px;
	left: 10px;
}
.absolute .blue {
	position: absolute;
	bottom: 0;
	right: 0;
}
.absolute2 .yellow {
	position:relative;
}
.absolute {
	position: relative
}

.floatleft .blue {
	float:left;
	margin-right: 2px;
}

.floatright .blue {
	float:right;
}
.floatclear .blue {
	height: 130px;
	width: 15%;
}
.floatnoclear .blue {
	height: 130px;
	width: 15%;
}
.floatclear .magenta {
	clear:both;
}

pre {
	border: 1px dashed #176d7f;
	width: 80%;
	margin: auto;
	background-color: rgb(240,240,240);
    padding: 10px;
}
code {
	background-color: rgb(240,240,240);
}

@media (min-width: 920px) {
	.header_container {
		width: 900px;
	}
}

@media (min-width: 500px) {
	.about_image {
		background-position-y: 45%;
		height: 314.318px;
		padding-top: 0;
	}
	.hero_image {
		background-position-y: 42%;
		height: 333.272px;
		padding-top: 0;
	}
}
@media (min-width: 650px) {
	header, .footer {
		background-color: rgb(230,230,230);
		color: rgb(64, 64, 64);
	}
	.hamburger_container {
		display:none;
	}
	.navbar {
		top:0;
		z-index: 3;
		background-color:rgba(0,0,0,0);
		text-align: center;
		transition:none;
	}
	.icon_link {
		display: inline-block;
		float:none;
		position: relative;
		top:10px;
	}
	.container {
		display:block;
	}
	.name {
		font-weight: 400;
    	letter-spacing: 0.5px;
    	color: #1f91aa;
	}
	.name_title {
		font-weight: 400;
    	font-size: 8pt;
    	letter-spacing: 0.5px;
    	color: #3ea2b9;
	}
	.footer p{
		color: #1f91aa;
	}
	.links {
		font-weight: 500;
	}
	.icon_container_twitter, .icon_container_rss {
		/*background-color: rgb(200, 200, 200);*/
		/*background-color: #91B694;*/
	}
	.fa-github {
		/*color: rgb(200, 200, 200);*/
		/*color: #91B694;*/
	}
	.maincontent_container {
		width:650px;
		margin:auto;
	}
	.pagelabel {
		text-align:center;
	}
	.index_image_container {
		display:block;
	}
	.yellow {
		font-size: 0.75em;
	}
}
