body {
font-family: Raleway,Open Sans,Helvetica Neue,sans-serif;
margin: 0;
padding: 0;
color: rgb(100,100,100);	
}

img {
	width: 200px;
}

.main_container {
	width: 800px;
	margin: auto;
}

.intro_container, .about_container, .projects_container {
	background-color: #FFF7BD;
	display:flex;
	justify-content: space-between;
	padding:35px 50px;
	margin: 20px auto;
}

.intro_container {
	align-items: center;
}

.about_container {
	align-items: flex-start;
}

.projects_container {
	flex-wrap: wrap;
}

.aboutme_container, .aboutyou_container, .project{
	margin: 20px;
	padding: 10px;
	background-color: #95CFB7;
}

.project {
	width: 300px;
	height: 500px;
	margin: 15px;
}
