body {
font-family: Raleway,Open Sans,Helvetica Neue,sans-serif;
margin: 0;
padding: 0;
color: rgb(100,100,100);	
}

header {
	background-color: #95CFB7;
}

header div {
	width:850px;
	margin: auto;
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}

header div a {
	margin-left: 20px;
	text-decoration: none;
	color: rgb(100,100,100);
}

header div a:hover {
	color: #F2F26F;
}

.intro_container img {
	width: 200px;
}

.main_container {
	width: 850px;
	margin: auto;
}

.intro_container, .about_container, .contact_container {
	background-color: #FFF7BD;
	display:flex;
	justify-content: space-between;
	padding:35px 50px;
	margin: 20px auto;
}

.intro_container {
	align-items: center;
}

.about_container {
	align-items: stretch;
}

.contact_container {
	align-items: center;
	margin: 35px 180px; 
}

.projects_container {
	padding:35px 50px;
	margin: 20px auto;
	background-color: #FFF7BD;
}

.inner_projects_container {
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.aboutme_container, .aboutyou_container, .project{
	padding: 10px;
	background-color: #95CFB7;
	width:45%;
}

.project {
	width: 300px;
	height: 500px;
	margin: 15px;
}

.testimonial_container {
	background-color: #FFF7BD;
	padding:35px 50px;
	margin: 20px auto;
}

.testimonial {
	margin: 20px;
	padding: 10px;
	background-color: #95CFB7;
}
.testimonial em {
	position: relative;
	left: 400px;
}

.contact_container img {
	width: 100px;
}
