---
layout: default
---


<div class="maincontent_container">
	<h3 class="title title_singlearticle">{{ page.title }}</h3>
	<h4 class="date date_singlearticle">{{ page.date | date: "%b %-d, %Y" }}</h4>
	<div class="greyline"></div>

	<div class="postcontent_container">

	{{ content }}

	</div>

	<div class="twittershare_container">
		<span class="fa fa-twitter twittershare_bird"></span>
		<p class="maincontent twittershare_note">If you liked this article and think others should read it, please 
			<a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20article%20by%20Leanna McDonald!&url={{ page.url | absolute_url }}" class="twitter-share-button">share it on Twitter.</a>
		</p>
	</div>
</div>